@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
}

.wrapper {
    max-width: 1440px;
}

header {
    background-color: #2E948A;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px
}

nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav a {
    color: #F7F7F7;
    font-weight: 700;
    font-size: 20px;
}

.jumbotrom {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.jumbo-content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ff4081;
    display: block;
    margin-bottom: 30px;
}

.jumbo-content p {
    font-size: 27px;
    font-weight: 400;
    color: #555555;
    display: block;
    margin-bottom: 30px;
}

.jumbo-content a {
    border: 2px solid #ff4081;
    border-radius: 62px;
    font-size: 27px;
    color: #ff4081;
    width: 258px;
    height: 51px;
    padding: 13px 15px;
}

.cursos-img {
    width: 380px;
    height: 381px;
}

.jumbo-content a:hover {
    color: #F7F7F7;
    background-color: #ff4081;
}

.container {
    background-color: #F7F7F7;
}

.display-cursos {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.display-cursos-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.display-cursos-item img {
    width: 288px;
    height: 270px;
}

.display-cursos-item h2 {
    font-size: 25px;
    color: #ff4081;
    font-weight: 700;
}

.display-cursos-item p {
    font-size: 17px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}

.display-cursos-item button {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #ff4081;
    border-radius: 62px;
    width: 233px;
    height: 51px;
}

.display-cursos-item button:hover {
    cursor: pointer;
}

.falam-sobre-nos h2 {
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    color: #009688;
    font-size: 37px;
    font-weight: 700;
}

.sobre-nos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
}

.falam-sobre-nos-item {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center
}

.falam-sobre-nos-item p {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

.falam-sobre-nos-item span {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 700;
}

.falam-sobre-nos {
    padding-bottom: 100px;
}

.blogposts-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blogposts-content a {
    font-size: 25px;
    color: #ff4081;
    border: 2px solid #ff4081;
    border-radius: 62px;
    width: 289px;
    height: 51px;
    text-align: center;
    padding-top: 10px;
}

.blogposts-content a:hover {
    color: #F7F7F7;
    background-color: #ff4081;
}

.titulo-section {
    font-size: 37px;
    color: #009688;
    font-weight: bold;
    padding-bottom: 100px;
    padding-left: 50px;
}

.blogposts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blogposts-grid-item img {
    margin-bottom: 10px;
}

.blogposts-grid-item h2 {
    font-size: 27px;
    color: #009688;
}

.blogposts-grid-item p {
    font-size: 18px;
    font-weight: 400;
}

.blogposts-btn {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
    background-color: #2E948A;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-nav a {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-btn a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 50px;
    width: 289px;
    height: 51px;
    text-align: center;
    padding-top: 10px;
}

.footer-btn a:hover {
    color: #009688;
    background-color: white;
}

.cursos-titulo h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ff4081;
}

.cursos-titulo h2 {
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}

.cursos-titulo {
    padding-left: 200px;
}

.cursos {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px 0px;
}

.cursos-item {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.cursos-description {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cursos-item img {
    max-width: 380px;
    max-height: 381px;
}

.cursos-item h2 {
    font-size: 35px;
    font-weight: 700;
    color: #ff4081;
}

.cursos-item p {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

.cursos-item a {
    font-size: 20px;
    font-weight: 400;
    color: #009688;
    border: 2px solid #009688;
    border-radius: 62px;
    padding: 10px 20px;
}

.cursos-item a:hover {
    background-color: #009688;
    color: white;
}

hr {
    height: 5px;
    background-color: #c4c4c4;
    width: 90%;
}

.aulas {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
    align-items: flex-start;
    justify-content: flex-start;
}

#titulo-blog {
    color: #009688;
}

.blog-post-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.blog-post-item img {
    width: 518px;
    height: 259px;
}

.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0px;
}

.blog-post-item h2 {
    font-size: 30px;
    color: #ff4081;
    font-weight: 500;
}

.blog-post-item p {
    font-size: 17px;
    font-weight: 300;
}

.blog-post-titulo {
    display: flex;
    flex-direction: column;
}

.blog-post-titulo h1 {
    font-size: 50px;
    color: #ff4081;
    font-weight: 500;
}

.blog-post-titulo p {
    font-size: 18px;
    color: #9d9d9d;
    font-weight: 300;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.post p {
    font-size: 18px;
    color: #000000;
    font-weight: 300;
}

.post h2 {
    font-size: 26px;
    color: #009688;
    font-weight: 500;
}

.form-contato li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-contato input {
    border: 1px solid #686868;
    border-radius: 7px;
    width: 493px;
    height: 32px;
    font-size: 18px;
}

.form-contato textarea {
    border: 1px solid #686868;
    width: 493px;
    height: 193px;
    resize: none;
    font-size: 18px;
}

.form-contato button {
    width: 108px;
    height: 32px;
    background-color: #ff4081;
    color: #F7F7F7;
    border-radius: 50px;
}

.form-contato {
    padding-bottom: 100px;
}

.form-contato h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ff4081;
}

::-webkit-input-placeholder  {
    color:#58555D;
    font-size: 18px;
    font-weight: 400;
}
input:-moz-placeholder {
    color: #58555D;
    font-size: 18px;
    font-weight: 400;
}
textarea:-moz-placeholder {
    color: #58555D;
    font-size: 18px;
    font-weight: 400;
}

.form-contato {
    display: flex;
    flex-direction: row;
}

@media (max-width: 960px) {
    
    .jumbotrom {
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    
    .jumbotrom img {
        display: none;
    }

    .display-cursos {
        grid-template-columns: 1fr;
        gap: 100px;
    }

    .sobre-nos-grid {
        grid-template-columns: 1fr;
    }

    .blogposts-grid {
        grid-template-columns: 1fr;
        gap: 100px;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .cursos-item img {
        display: none;
    }

    .cursos-item {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .cursos-titulo {
        padding-left: 100px;
    }

    .post img {
        display: none;
    }

    .post {
        width: 70%;
    }

    .form-contato img {
        display: none;
    }

    .form-contato input {
        width: 100%;
    }

    .form-contato textarea {
        width: 100%;
    }
}

@media (max-width:555px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    nav {
        gap:50px;
    }
    .falam-sobre-nos-item {
        flex-direction: column;
    }
    .cursos-description {
        width: 80%;
    }

    .blog-post-item img {
        width: 90%;
    }
    .blog-post-item {
        width: 90%;
    }
}

@media (max-width: 1040px) {
    .blog-posts {
        grid-template-columns:2fr;
    }
}